<% if @test_danger %>
	<div class="item active">
		<div class='col-md-4 col-md-offset-1' id='example-name'>
			EDTA
		</div>
		<div class='col-md-6' id='example-description'>
			EDTA is a colorless crystalline acid that binds to iron, used to fortify grain in breakfast cereal. Safe in small amounts.
		</div>
	</div>
	<div class="item">
		<div class='col-md-4 col-md-offset-1' id='example-name'>
			Xanthan Gum
		</div>
		<div class='col-md-6' id='example-description'>
			Xanthan gum is made from a chemical secreted by a bacterium, used to make food thicker and hold ingredients together.
		</div>
	</div>
	<div class="item">
		<div class='col-md-4 col-md-offset-1' id='example-name'>
			Yellow #5
		</div>
		<div class='col-md-6' id='example-description'>
			Yellow #5 is a synthetic food coloring common in commercial processed foods that appear green/yellow or brown and creamy.
		</div>
	</div>
<% else %>
	<div class="item active">
		<div class='col-md-4 col-md-offset-1' id='example-name'>
			Xanthan Gum
		</div>
		<div class='col-md-6' id='example-description'>
			Xanthan gum is made from a chemical secreted by a bacterium, used to make food thicker and hold ingredients together.
		</div>
	</div>
	<div class="item">
		<div class='col-md-4 col-md-offset-1' id='example-name'>
			Yellow #5
		</div>
		<div class='col-md-6' id='example-description'>
			Yellow #5 is a synthetic food coloring common in commercial processed foods that appear green/yellow or brown and creamy.
		</div>
	</div>
	<div class="item">
		<div class='col-md-4 col-md-offset-1' id='example-name'>
			Titanium Dioxide
		</div>
		<div class='col-md-6' id='example-description'>
			Titanium dioxide is a naturally occurring white pigment sourced from the mineral ilmenite, found in milk and sunscreen.
		</div>
	</div>
<% end %>
