<div class='col-md-12 name'>
	<%= ingredient.name %>
</div>
<div class='col-md-12 technical-effects'>
	<%= ingredient.technical_effects.map{|te| te.name.downcase}.join(" | ") %>
</div>
<div class='col-md-12 description'>
	<%= ingredient.description %>
</div>

<div class='col-md-12 related-ingredients'>
	<%= render partial: "related", locals: {related_ingredients: ingredient.related} %>
</div>
