<div class='col-md-12 name'>
	<%= ingredient.name %>
</div>
<div class='col-md-12 technical-effects'>
	<%= ingredient.technical_effects.map{|te| te.name.downcase}.join(" | ") %>
</div>
<div class='col-md-12 description'>
	<%= ingredient.description %>
</div>
<div class='col-md-12 related-ingredients'>
	<%= render partial: "related", locals: {related_ingredients: ingredient.related} %>
</div>
<div class='col-md-12 share'>
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="digestableapp">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
