<div class='row' id='ingredients'>
	<div class='col-md-3 visible-md visible-lg' id='ingredient-list'>
		<ul>
		<% Ingredient.all.each do |i| %>
			<li>
				<%= link_to i.name, i.path, 
					class: 'list-ingredient', 
					data_id: i.id, data_path: i.path %>
			</li>
		<% end %>
		</ul>
	</div>
	
	<div class='col-md-9 col-sm-12' id='ingredients-search-container'>
		<div class='row'>
			<div class='col-md-offset-3 col-md-6 col-sm-8 col-sm-offset-2' id='logo-container'>
				<div id='logo'>
					<%= image_tag "ingredient_logo.png", id: 'logo-img' %>
				</div>
			</div>
			
			<div class='col-md-offset-3 col-md-6 col-sm-8 col-sm-offset-2' id='search-bar-container'>
					<%= text_field_tag :something, nil, 
						class: 'form-control search-bar', 
						placeholder: "Search for ingredient" %>
			</div>
			
			<div class='col-md-offset-3 col-md-6 col-sm-8 col-sm-offset-2' id='search-results'>
			</div>
			
			<div class='col-md-offset-3 col-md-6 col-sm-8 col-sm-offset-2' id='ingredient'>
				<%= render partial: "ingredient", 
					locals: {ingredient: @featured_ingredient}%>
			</div>
			
		</div>
	</div>
</div>