$crGreen: #51992d;

body {
  //background-color: $crGreen;
}

#background-image {
}

.container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 100%;
}

#title-row {
  margin-top: 24px;
  margin-bottom: 48px;

  #top-logo {
    text-align: center;
  }

  #sign-up {
   text-align: center;

    #btn-sign-up {
      width: 80%;
      margin-top: 4px;
    }
  }

  #phone-spacer {
    height: 48px;
  }
}

#sign-up-success {
  display: none;
}

#ingredient-row {

  #ingredient-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }

  #summary-verbose {
    color: #888888;
  }

  #summary-simple {
    color: #333333;
  }
}

#signup-row {
  margin-bottom: 24px;
  height: 0px;
  overflow: hidden;

  #launching-soon {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 8px;
  }
}

#screenshot-row {
  //background-color:rgba(214,237,183,01);
  background-color: #FFFFFF;
  padding: 48px 0px;
  //border-bottom: 1px solid #333333;
  background-image:url('background.png');
}

.screenshot-column {
  padding-left: 0px;
  padding-right: 0px;
}

.top-label {
  font-size: 2.0em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 12px;
  color: #333333;
  background-color:rgba(255,255,255,0.9);
  //border-radius: 8px;
  padding-bottom: 12px;

  .subtitle {
    font-size: 0.5em;
  }
}

.screenshot {
  text-align: center;
  margin-bottom: 48px;
}